.combatready-container {
	position: fixed;
	top: 100px;
	left: 0px;
	display: none;
	width: 100%;
  text-align: center;
}

.combatready-label {
  animation: pulse 1s infinite alternate;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7), rgba(0,0,0,0));
  color: white;
  display: inline-block;
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
  padding: 0.3em 5em;
  text-align: center;
  text-transform: uppercase;
}

@keyframes pulse {
  100% {
    transform: scale(1.1);
  }
}

.combatready-bannerdisable,
.combatready-boarddisable {
	pointer-events: none;
}


/* Time Bar */

.combatready-timebar {
	background: rgba(0, 0, 0, .2);
	border-radius: 3px;
  bottom: 2px;
	box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, .5);
	display: none;
	height: 6px;
	left: 2px;
  overflow: hidden;
	position: fixed;
}

.combatready-timebar-fill {
  animation: pulse-color 1s infinite;
  background-color: #B71703;
  bottom: 0;
	box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, .3);
  left: 0;
	position: absolute;
  top: 0;
  transition: width 200ms ease;
	width: 0%;
}

@keyframes pulse-color {
  0% {
    background-color: red;
  	box-shadow: none;
  }
}

.combatready-timebaricon {
	width: 20px;
	height: 20px;
}
